<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="flex gap-4 flex-wrap">
    <input autocomplete="off" th:field="*{id}" type="hidden">
    <input autocomplete="off" th:field="*{authorId}" type="hidden">
    <input
            class="input input-bordered w-full max-w-xs"
            id="title"
            placeholder="Title"
            th:field="*{title}"
            type="text"
    />
    <input
            class="input input-bordered w-full max-w-xs"
            id="description"
            placeholder="Description"
            th:field="*{description}"/>
    <!-- TODO: add icons select with search -->
    <!--    <input-->
    <!--            class="input input-bordered w-full max-w-xs"-->
    <!--            id="icon"-->
    <!--            placeholder="Icon"-->
    <!--            th:field="*{icon}"  />-->
    <input
            class="input input-bordered w-full max-w-xs"
            id="color"
            placeholder="Color"
            th:field="*{color}"/>
</div>
</body>
</html>
