<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="flex gap-4 flex-wrap">
    <input autocomplete="off" th:field="*{id}" type="hidden">
    <input
            class="input input-bordered w-full max-w-xs"
            id="title"
            placeholder="Title"
            th:field="*{title}"
            type="text"
    />
    <textarea
            class="input input-bordered w-full max-w-xs"
            id="description"
            placeholder="Description"
            th:field="*{description}"
    ></textarea>
    <input
            class="input input-bordered w-full max-w-xs"
            id="amount"
            placeholder="Amount"
            th:field="*{amount}"
            type="text"
    />
    <input
            class="input input-bordered w-full max-w-xs"
            id="expense-date"
            placeholder="Expense date"
            th:field="*{incomeDate}"
            type="datetime-local"
    />
    <select class="input input-bordered w-full max-w-xs" id="incomeCategory" th:field="*{incomeCategoryId}">
        <option
                th:data-bg="${incomeCategory.id}"
                th:each="incomeCategory : ${incomeCategories}"
                th:text="${incomeCategory.title}"
                th:value="${incomeCategory.id}">
        </option>
    </select>
</div>
</body>
</html>
