<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="flex gap-4 flex-wrap">
    <input autocomplete="off" th:field="*{id}" type="hidden">
    <input
            class="input input-bordered w-full max-w-xs"
            id="firstName"
            placeholder="First name"
            th:field="*{firstName}"
            type="text"
    />
    <input
            class="input input-bordered w-full max-w-xs"
            id="lastName"
            placeholder="Last name"
            th:field="*{lastName}"
            type="text"
    />
    <input
            class="input input-bordered w-full max-w-xs"
            id="email"
            placeholder="Email"
            th:field="*{email}"
            type="email"
    />
    <input
            class="input input-bordered w-full max-w-xs"
            id="password"
            placeholder="Password"
            th:field="*{password}"
            type="password"
    />
</div>
</body>
</html>
