<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<header th:replace="~{fragments/header}"></header>

<div class="container m-auto">
    <div class="overflow-x-auto p-4">
        <div class="flex justify-between mb-2">
            <h1 class="text-4xl">Users</h1>
            <div th:replace="~{fragments/button :: actionButton('users', 'new', '')}"></div>
        </div>
        <table class="table table-zebra w-full">
            <thead>
            <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${#dates.format(user.createdAt, 'dd MMM yyyy')}"></td>
                <td th:text="${#dates.format(user.updatedAt, 'dd MMM yyyy')}"></td>
                <td>
                    <div class="flex gap-3">
                        <div th:replace="~{fragments/button :: actionButton('users', 'view', ${user.id})}"></div>
                        <div th:replace="~{fragments/button :: actionButton('users', 'edit', ${user.id})}"></div>
                        <div th:replace="~{fragments/button :: actionButton('users', 'delete', ${user.id})}"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
