<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/output.css" rel="stylesheet">
    <!-- Development version -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <!-- Production version -->
    <!--    <script src="https://unpkg.com/lucide@latest"></script>-->
</head>
<body>
<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Finance Management System</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a th:href="@{/users}">Users</a>
            </li>
            <li>
                <a th:href="@{/stores}">Stores</a>
            </li>
        </ul>
    </div>
</div>

<script>
    // this sucks? TOO BAD! it works.
    setTimeout(() => {
        lucide.createIcons();
    }, 0)
</script>
</body>
</html>