<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Finance Management System</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a th:href="@{/users}">
                    <i icon-name="user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a th:href="@{/stores}">
                    <span icon-name="store"></span>
                    <span>Stores</span>
                </a>
            </li>
            <li>
                <a th:href="@{/expenses}">
                    <span icon-name="wallet"></span>
                    <span>Expenses</span>
                </a>
            </li>
            <li>
                <a th:href="@{/expense-categories}">
                    <span icon-name="folder-tree"></span>
                    <span>Expense categories</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    // this sucks? TOO BAD! it works.
    setTimeout(() => {
        lucide.createIcons();
    }, 0)
</script>
</body>
</html>