<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
</head>
<body>
<div class="flex justify-center mt-5">
    <form class="space-x-4" method="get" th:action="@{/dashboard}">
        <label for="startDate">Start Date:</label>
        <input class="border p-1" id="startDate" name="startDate" type="date">
        <label for="endDate">End Date:</label>
        <input class="border p-1" id="endDate" name="endDate" type="date">
        <input class="btn btn-primary" type="submit" value="Update">
    </form>
</div>
<div id="chartData" th:data-expense-by-category-data="${expenseByCategoryDataJson}"></div>
<div class="mx-auto my-5" id="piechart" style="width: 900px; height: 500px;"></div>

<script th:inline="javascript" type="text/javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Amount');

        let expenseByCategoryData = JSON.parse(
            document.getElementById('chartData')
                .getAttribute('data-expense-by-category-data'));


        data.addRows(expenseByCategoryData);

        var options = {
            title: 'Expenses by Category'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
</body>
</html>
