<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="flex gap-4 flex-wrap">
    <input autocomplete="off" type="hidden" th:field="*{id}">
    <input
            type="text"
            class="input input-bordered w-full max-w-xs"
            id="firstName"
            th:field="*{firstName}"
            placeholder="First name"
    />
    <input
            type="text"
            class="input input-bordered w-full max-w-xs"
            id="lastName"
            th:field="*{lastName}"
            placeholder="Last name"
    />
    <input
            type="email"
            class="input input-bordered w-full max-w-xs"
            id="email"
            th:field="*{email}"
            placeholder="Email"
    />
    <input
            type="password"
            class="input input-bordered w-full max-w-xs"
            id="password"
            th:field="*{password}"
            placeholder="Password"
    />
</div>
</body>
</html>
