<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.createdAt}"></td>
        <td th:text="${user.updatedAt}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">View</a>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
